
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before { content: "\e604"; }

.icon-ttpodicon:before { content: "\e615"; }

.icon-icon1:before { content: "\e6cc"; }

.icon-guanbi:before { content: "\e60e"; }

.icon-zengjia:before { content: "\e6a7"; }

.icon-max-lighter:before { content: "\e68e"; }

.icon-prev:before { content: "\e647"; }

.icon-bendiyinle:before { content: "\e65e"; }

.icon-liebiaoxunhuan:before { content: "\e691"; }

.icon-volume:before { content: "\e757"; }

.icon-bofangliebiao:before { content: "\e6c7"; }

.icon-pprev:before { content: "\e707"; }

.icon-pnext:before { content: "\e708"; }

.icon-shezhi:before { content: "\e675"; }

.icon-yuleguangbodiantai:before { content: "\e93b"; }

.icon-gengduo:before { content: "\e633"; }

.icon-houtui:before { content: "\e67b"; }

.icon-yutoubaoicon:before { content: "\e601"; }

.icon-danquxunhuan:before { content: "\e62a"; }

.icon-suijibofang:before { content: "\e6f1"; }

.icon-diantai:before { content: "\e6f4"; }

.icon-xihuan:before { content: "\e6c8"; }

.icon-5:before { content: "\e60d"; }

.icon-jinripaixing:before { content: "\e616"; }

.icon-bofangliebiao1:before { content: "\e926"; }

.icon-xihuan1:before { content: "\e61d"; }

.icon-right:before { content: "\e602"; }

.icon-mv:before { content: "\e6d2"; }

.icon-zuijin:before { content: "\e6f5"; }

.icon-yinliang:before { content: "\e62f"; }

.icon-touxiang:before { content: "\e634"; }

.icon-close-lighter:before { content: "\e625"; }

.icon-shoucang:before { content: "\e61a"; }

.icon-yinle:before { content: "\e644"; }

.icon-min:before { content: "\e694"; }

.icon-yinle1:before { content: "\e65c"; }

.icon-icon:before { content: "\e67f"; }

.icon-youjian:before { content: "\e623"; }

.icon-circulation:before { content: "\e67a"; }

.icon-wodeshoucang:before { content: "\e613"; }

.icon-volume1:before { content: "\e63c"; }

.icon-tuijian:before { content: "\e713"; }

.icon-pause:before { content: "\e60f"; }

.icon-max-min-lighter:before { content: "\e6c4"; }

.icon-zuidahua1:before { content: "\e6b3"; }

.icon-wodeshoucang1:before { content: "\e648"; }

.icon-fm:before { content: "\e627"; }

.icon-xiazai:before { content: "\e67c"; }

.icon-music:before { content: "\e657"; }

.icon-min-lighter:before { content: "\e624"; }

.icon-pengyou:before { content: "\e645"; }

.icon-volume2:before { content: "\e605"; }

.icon-prev-copy:before { content: "\e626"; }

.icon-bofang:before { content: "\e63e"; }

.icon-sangang:before { content: "\e73d"; }

.icon-pause1:before { content: "\e676"; }

.icon-tuijian1:before { content: "\e617"; }

.icon-u_icon:before { content: "\e674"; }

.icon-cuxiao-s:before { content: "\e606"; }

.icon-qingkong:before { content: "\e673"; }

.icon-mv1:before { content: "\e6cf"; }

.icon-dian:before { content: "\e603"; }

