//滚动条样式
.thumb-vertical{
    position: relative;
    display: block;
    width: 100%;
    cursor: pointer;
    border-radius: inherit;
    background-color: rgba(173, 175, 178, .8);
    // height: 20px;
    transform: translateY(63.565px);
    &:hover{
      background-color: rgba(173, 175, 178, 1);
    }
}

.sidebar,.sidebarMin{
      float:left;
      width:18rem;
      background-color: #F3F3F5;
      font-size: 1.4rem;
      .link{
        line-height: 4rem;
        display: inline-block;
        width: calc(100% - .2rem );
        color:#222;
        font-weight: normal;
        font-size: 1.3rem;
        text-decoration:none;
        &:hover{
          background-color: #E8E8EB;
        }
        &__active{
          border-left: solid 4px #E81023;
           width: calc( 100% - 0.6rem );
          background-color: #DDDDE1;
        }
        i{
            font-size:1.5rem;
            display: inline-block;
            width:4.5rem;
            height: 4rem;
            line-height: 4rem;
            margin:0;
            padding:0;
            text-align: center;
          }
      }
      .header{
        width:4.5rem;
           height: 4.4rem;
           margin: 0;
           padding: 0;
           text-align: center;
           line-height: 4.4rem;
      }
      // &-base{
      //   line-height: 4rem;
      //   &-item{
      //     i{
      //       padding-right: 1rem;
      //       font-size:1.5rem;
      //     }
      //   }
      // }
      // &-scroll{
      //   height: 400px;
      //   overflow-y:auto;
      //   overflow-x: hidden;
      // }
      // ::-webkit-scrollbar{
      //   width:1.2px;
      // }
      // ::-webkit-scrollbar-track{
      //   -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);
      //   -webkit-border-radius:10px;
      //   border-radius: 10px;
      // }
      // /* Handle */
      // ::-webkit-scrollbar-thumb {
      //     -webkit-border-radius: 10px;
      //     border-radius: 10px;
      //     background: rgba(255,0,0,0.8);
      //     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
      // }
      // ::-webkit-scrollbar-thumb:window-inactive {
      //   background: rgba(255,0,0,0.4);
      // }

      .myMusic-title{
        color:#939393;
        width: 100%;
        font-size:1.2rem;
        font-weight: 500;
        // line-height: 4rem;
        padding-top:2rem;
        padding-bottom: .7rem;
        padding-left:1rem;

      }
      .playlist-title{
        color:#939393;
        width: 100%;
        font-size:1.2rem;
        font-weight: 500;
        // line-height: 4rem;
        padding-top:2rem;
        padding-bottom: .7rem;
        padding-left:1rem;
      }
      .User{
        width:18rem;
        line-height: 6rem;
        &-avator{
          // line-height: 7rem;
          vertical-align: middle;
          font-size:3rem;
          color:#E8E8EB;
          padding: 0 1rem;
        }
        &-name{
          font-size: 1rem;
        }
        &-email{
          font-size: 1.6rem;
          height: 100%;
          color:#000;
          vertical-align: middle;
          text-align: center;
          line-height: 6rem;
          margin: 0px 2rem 0 4rem;
          padding-top: 2px;
        }
        &-setting{
          font-size: 1.8rem;
          vertical-align: middle;
          line-height: 6rem;
        }

      }
    }
    .sidebarMin{
         width: 4.5rem;
      .link{
        padding:0;
        width:4.5rem;
        span{
          display:none;
        }
        &__active{
          width:4rem ;
        }
      }
      .scrollbar{
        width:4.5rem !important;
        height: 44.2rem !important;
      }
      .myMusic{
        display: none;
      }
     .playlist{
        display:none;
      }
      .User{
        &-name{
          display: none;
        }
      &-avator,&-email, &-setting{
          display: block;
          width:4.5rem;
          height: 4rem;
          line-height: 4rem;
          margin:0;
          padding:0;
          text-align: center;
        }
        &-avator{
          font-size: 3rem !important;
        }
      }
    }
  //   @media only screen  and (max-width:50rem) { //sidbar媒介查询start
  //   .sidebar{
  //     width: 4.5rem;
  //     &-link{
  //       padding:0;
  //       width:4.5rem;
  //       span{
  //         display:none;
  //       }
  //       &__active{
  //         width:4rem ;
  //       }
  //     }
  //     &-scrollbar{
  //       height: 44.2rem !important;
  //     }
  //     &-myMusic{
  //       display: none;
  //     }
  //     &-playlist{
  //       display:none;
  //     }
  //     &User{
  //       &-name{
  //         display: none;
  //       }
  //     &-avator,&-email, &-setting{
  //         display: block;
  //         width:4.5rem;
  //         height: 4rem;
  //         line-height: 4rem;
  //         margin:0;
  //         padding:0;
  //         text-align: center;
  //       }
  //       &-avator{
  //         font-size: 3rem !important;
  //       }
  //     }
  //   }
  // }//sidbar媒介查询end
